*{margin:0; -webkit-user-select:none;}
html,body{ font-family:font-size:16px;font-family:georgia;height:100%;width:100%; }
.cardv{ background:#fff;min-height:80px;box-shadow:0px 1px 3px #ccc;margin:0 auto;padding:10px;}
.hcard{ background:#fff;max-width:250px;min-height:125px;box-shadow:0px 1px 3px #ccc;margin:0 auto;padding:8px;color:#2c2424;text-align:center;}
b{font-family:cambria;color:#191970;}
.btnn{padding:10px;color:#fff;background:#9370DB;border:0px;border-radius:5px;}
.pgbtn{padding:4px 10px;border:2px solid #4682b4;color:#4682b4;background:#fff;font-family:signika negative;border-radius:20px;}
.pgbtn:focus{outline:none}
.btnn:focus{outline:none}
.sbtn:focus{outline:none}
input,select,textarea{width:100%;padding:8px 10px;border:1px solid #ccc;color:#191970;font-family:signika negative;background:transparent;}
input:focus,select:focus,textarea:focus{outline:none;border:1px solid #4682b4;}
.sbtn{padding:10px;background:#2f4f4f;color:#fff;font-weight:bold;width:100%;border:none;font-family:arial;}
input[type=checkbox],[type=radio]{padding:5px;cursor:pointer;-ms-transform:scale(1.5);-moz-transform:scale(1.5);-webkit-transform:scale(1.5);-o-transform:scale(1);transform:scale(1.5);}
.btab{ border:0px;background:transparent;color:#ccc;padding:5px;outline:none;border-radius:0px;width:100%;border-bottom:4px solid grey;}
.btab:focus{outline:none;font-weight:bold;}
.btab.active{ background:transparent;color:#00FFFF;font-weight:bold;border-bottom:4px solid #00FFFF;}
.btab i{font-size:25px;}